name: CI-CD

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
    - name: Obtendo o código
      uses: actions/checkout@v3
    - name: Docker Login
      uses: docker/login-action@v3.0.0
      with:
        username: ${{secrets.DOCKERHUB_USER}}
        password: ${{secrets.DOCKERHUB_PWD}}
    - name: Construção da imagem Docker worker
      uses: docker/build-push-action@v5.0.0
      with: 
        context: ./kube-news/src
        file: ./kube-news/src/Dockerfile
        push: true
        tags: |
          fabricioveronez/kube-news:${{github.run_number}}
          fabricioveronez/kube-news:latest                

  CD:
    runs-on: ubuntu-latest
    needs: [CI]

    steps:
    - uses: actions/checkout@v3
    - name: Passo 01
      run: echo "Deploy da aplicação"
